<template name="postSrvCollect">
    <form class="main">
        <div class="control-group">
            <label class="control-label" for="url">
                URL журнала
            </label>
            <div class="controls">
                <input name="url" type="text" value="" placeholder="URL журнала"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Добавить" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</template>